In [1]:
#1. Use pandas to create a Series from the following data:

In [2]:
import pandas as pd

In [3]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [4]:
#a. Name the variable that holds the series fruits.
pd.core.series.Series
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [5]:
#b. Run .describe() on the series to see what describe returns for a series of strings.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [6]:
#c. Run the code necessary to produce only the unique fruit names.
(pd.Series.unique(fruits))

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [7]:
pd.unique(list(fruits))

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [8]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [9]:
#d. Determine how many times each value occurs in the series.
fruits.value_counts()

kiwi                4
mango               2
honeycrisp apple    1
gala apple          1
papaya              1
watermelon          1
pineapple           1
gooseberry          1
blueberry           1
honeydew            1
blackberry          1
strawberry          1
tomato              1
dtype: int64

In [10]:
#e. Determine the most frequently occurring fruit name from the series.
fruits.mode()

0    kiwi
dtype: object

In [11]:
#f. Determine the least frequently occurring fruit name from the series.
fruits.value_counts().nsmallest(keep="all")

honeycrisp apple    1
gala apple          1
papaya              1
watermelon          1
pineapple           1
gooseberry          1
blueberry           1
honeydew            1
blackberry          1
strawberry          1
tomato              1
dtype: int64

In [12]:
#g. Write the code to get the longest string from the fruits series.
longest_string = max(fruits, key=len)
longest_string

'honeycrisp apple'

In [23]:
#h. Find the fruit(s) with 5 or more letters in the name.
fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [46]:
#i. Capitalize all the fruit strings in the series.
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [49]:
#j. Count the letter "a" in all the fruits (use string vectorization)
fruits.str.lower().str.count('[a]')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [48]:
#k. Output the number of vowels in each and every fruit.
fruits.str.lower().str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [58]:
#l. Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.
print(fruits[fruits.apply(lambda x: x.count('o') >= 2)])

6         tomato
15    gooseberry
dtype: object

In [59]:
#m. Write the code to get only the fruits containing "berry" in the name
fruits[fruits.str.find('berry') != -1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [60]:
#n. Write the code to get only the fruits containing "apple" in the name
fruits[fruits.str.find('apple') != -1]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [74]:
#o. Which fruit has the highest amount of vowels?
fruits[max(fruits.str.lower().str.count('[aeiou]'))]

'honeycrisp apple'

In [ ]:
#2. Use pandas to create a Series from the following data:

In [ ]:
['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

- What is the data type of the series?
- Use series operations to convert the series to a numeric data type.
- What is the maximum value? The minimum?
- Bin the data into 4 equally sized intervals and show how many values fall into each bin.
- Plot a histogram of the data. Be sure to include a title and axis labels.

In [ ]:
#3. Use pandas to create a Series from the following exam scores:

In [ ]:
[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

- What is the minimum exam score? The max, mean, median?
- Plot a histogram of the scores.
- Convert each of the numbers above into a letter grade. For example, 86 should be a 'B' and 95 should be an 'A'.
- Write the code necessary to implement a curve. I.e. that grade closest to 100 should be converted to a 100, and that many points should be given to every other score as well.

In [ ]:
#4. Use pandas to create a Series from the following string:

In [ ]:
'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

- What is the most frequently occuring letter? Least frequently occuring?
- How many vowels are in the list?
- How many consonants are in the list?
- Create a series that has all of the same letters, but uppercased
- Create a bar plot of the frequencies of the 6 most frequently occuring letters.

In [ ]:
#5. Complete the exercises from https://gist.github.com/ryanorsinger/f7d7c1dd6a328730c04f3dc5c5c69f3a, but use pandas Series for the data structure instead of lists and use Series subsetting/indexing and vectorization options instead of loops and lists.